@media (min-width:576px) {
    .newyear{
        font-size: 100px;
    }
    p{
        font-size: 18px;
    }
    .box h2{
        font-size: 30px;
    }
    .box{
        width: 70px;
        height: 70px;
    }
    .box small{
        font-size: 20px;
    }
    
}

@media(min-width:768px) {
    .newyear{
        font-size: 150px;
    }
    p{
        font-size: 25px;
    }

    .box h2{
        font-size: 50px;
    }
    .box{
        width: 100px;
        height: 100px;
    }

    .box small{
        font-size: 20px;
    }

}